<%= form_for ([@post, @comment]) do |f| %>
<div class="container">
	<div class="row">
	<h3 class="col-sm-offset-3">修改評論</h3>
		<div class="col-sm-1">
			<div class="thumbnail">
				<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
			</div>
		</div>
		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><%= current_user.name %></strong> <span class="text-muted">commented 5 days ago</span>
				</div>
				<div class="panel-body">
					<%= f.text_area :content %>
				</div>
			</div>
			<%= f.submit %>
			<% end %>
		</div>
	</div>
</div>