<h1>Hello <%= @resource.email %>!</h1>>
<p>您可以通過以下連結來更改您的密碼.</p>
<p><%= link_to '更改我的密碼', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>如果你沒有要求更改密碼,請忽略這封mail.</p>
<p>在您還沒訪問以上連結及更改新密碼前，您的密碼將不會更改.</p>
